<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easygame.w2.easygame" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.easygame.w2.db.CadastroCarros"/>
        <activity android:name="com.easygame.w2.db.BuscarCarro"/>
        <activity android:name="com.easygame.w2.db.EditarCarro"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".menuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".SepararTimesActivity"
            android:label="@string/title_activity_separar_times" >
        </activity>
        <activity
            android:name=".BuscarPraticantesActivity"
            android:label="@string/title_activity_buscar_praticantes" >
        </activity>
        <activity
            android:name=".Item_user"
            android:label="@string/title_activity_item_user" >
        </activity>
    </application>

</manifest>
